@import "tailwindcss";

body{
  background: #eff0f2;
}

@theme {
  --color-arbat-green: #0F251D;
  --color-darkgray-y:#ec6323;
  --color-gray-y:#f3f4f6;
  --color-arbat-hover: #065b3e;
}


.swiper-pagination-bullet {
  width: 40px !important;
  height: 4px !important;
  border-radius: 3px !important;
  background-color: rgb(255, 255, 255) !important;
  opacity: .6 !important;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
  opacity: 1 !important;
}